@font-face {
    font-family: "HansKendrick-Regular";
    font-style: normal;
    font-weight: normal;
    src: local('HansKendrick'),
    url(../fonts/HansKendrick-Regular.otf) format('opentype');
}
