@mixin title($color, $size, $weight, $margin-left, $spacing) {
    color: $color;
    font-family: "HansKendrick-Regular", sans-serif;
    font-size: $size;
    font-weight: $weight;
    text-transform: uppercase;
    letter-spacing: $spacing;
    margin-left: $margin-left;
}

@mixin date($color, $size, $weight, $margin, $spacing) {
    color: $color;
    font-family: "HansKendrick-Regular", sans-serif;
    font-size: $size;
    font-weight: $weight;
    text-transform: uppercase;
    letter-spacing: $spacing;
    margin: $margin;

}